<div class="row main-content">
  <div class="col-xs-12">
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
         <h2 class="panel-title"><strong><%= current_account.name %>'s Bots</strong></h2>
      </div>
      <div class="panel-body">
	<% if @campaigns.length == 0 then %>
	  <h4><strong>Create a new bot</strong>.  You can create a <strong>clone
	      bot</strong> that will generate tweets based on another account, or a <strong>like
	      bot</strong> that will gain you friends and followers.</h4>
	<% else %>
	<h4>You can only have one of each type of bot active at one time.  Either <strong>create a new bot</strong>, or <strong>reactivate an old one</strong>.  Log out to manage campaigns for another account.</h4>
	<% end %>
	<br>
	<% if current_account.provider == 'instagram' %>
	<a href="/campaign/create_form" class="btn btn-instagram btn-lg"><i class="fa fa-bolt"></i> Create Instagram Campaign</a>
	<% end %>
	<% if current_account.provider == 'twitter' %>
	<a href="/campaign/create_form" class="btn btn-twitter btn-lg"><i
	    class="fa fa-bolt"></i> Create Twitter Bot</a>
	<% end %>
      </div>
    </div>
    <br>
    <% @campaigns.each do |campaign| %>
      <div class="panel <%= campaign.active ? "panel-primary" : "panel-default" %>">
	<div class="panel-heading">
	  <h3 class="panel-title">
	    <strong> <%= campaign.engagement_type %> Bot </strong>
	  </h3>
	</div>
	<div class="panel-body">
	    <div class="form-group">
	      <label for="engagement-level">Bot Birth Date</label>
	      <p> <%= campaign.created_at.to_s(:long) %></p>
	    </div>
	    <div class="form-group">
	      <label for="engagement-type">Target</label>
              <p> <%= campaign.target %></p>
	    </div>
	    <% if campaign.engagement_type == "Favorite" then %>
	    <div class="form-group">
	      <label for="engagement-level">Engagements Per Day</label>
              <p> <%= campaign.engagements_per_day %></p>
	    </div>
	    <% end %>
	    <% if campaign.engagement_type == "Favorite" then %>
	    <div class="form-group">
	      <label for="engagement-level">Engagments Per Prey</label>
              <p> <%= campaign.engagements_per_prey %></p>
	    </div>
	    <div class="form-group">
	      <label for="engagement-level" data-container="body" data-toggle="tooltip" data-placement="right" title="MR&trade; Score is the percentage of people you've engaged who are currently following you.">MR&trade; Score <span class="badge"><i class="fa fa-question" ></i></span></label>
              <p><%= campaign.mr_score %>%</p>
	    </div>
	    <div class="form-group">
	      <label for="engagement-level" data-container="body"
		data-toggle="tooltip" data-placement="right" title="This is how
		many followers you've gained from this campaign."># Followers Acquired <span class="badge"><i class="fa fa-question" ></i></span></label>
              <p><%= campaign.followers_acquired %></p>
	    </div>
	    <div class="form-group">
	      <label for="engagement-level">Followers Acquired</label>
	      <% @new_followers[campaign.id].each do |nf| %>
              <li><%= nf.user_name %></li>
               <% end %>
	    </div>
	    <% end %>
	    <hr>
	    <% if campaign.active then %>
	    <%= button_to 'Deactivate', {:controller => "campaign", :action => "update", :campaign_id => campaign.id, :active => "false", :method=>:patch}, {class: 'btn btn-danger'}%>
	    <%= button_to 'Delete',  {:controller => "campaign", :action =>"delete", :campaign_id => campaign.id}, { method: "delete", class: 'btn btn-default'}%>
	    <% else %>

	     <%= button_to 'Activate', {:controller => "campaign", :action => "update", :campaign_id => campaign.id, :active => "true", :method=>:patch}, {class: 'btn btn-primary'}  %>
	     <%= button_to 'Delete',  {:controller => "campaign", :action =>"delete", :campaign_id => campaign.id}, {method: "delete", class: "btn btn-default"}%>
	    <% end %>
	    </div>
	    </div>
    <% end %>
    <br>
  </div>
</div>
