<div class="row">
  <div class="col-xs-12">
    <h2><%= current_account.name %>'s Campaigns</h2>
    <br>
    <% if @campaigns.length == 0 then %>
    <h4>Welcome to MR_BOTS!  To get started, <strong>create a new campaign</strong>.  A campaign is an automated social engagement strategy that will gradually gain you friends and followers.</h4>
    <% else %>
    <h4>Welcome back!  You can view your campaigns here.  You can only have one active campaign at a time.  Either <strong>create a new campaign</strong>, or <strong>reactivate an old one</strong>.  Log out to manage campaigns for another account.</h4>
    <% end %>
    <br>
    <a href="/campaign/create_form" class="btn btn-twitter btn-lg"><i class="fa fa-bolt"></i> Create Twitter Campaign</a>
    <br>
    <br>
    <% @campaigns.each do |campaign| %>
      <div class="panel <%= campaign.active ? "panel-primary" : "panel-default" %>">
	<div class="panel-heading">
	  <h3 class="panel-title">Target: <strong> <%= campaign.target %> </strong></h3>
	</div>
	<div class="panel-body">
	    <div class="form-group">
	      <label for="engagement-level">Campaign Start Date</label>
              <p> <%= campaign.created_at %></p>
	    </div>
	    <div class="form-group">
	      <label for="engagement-type">Engagement Type</label>
              <p> <%= campaign.engagement_type %></p>
	    </div>
	    <div class="form-group">
	      <label for="engagement-level">Engagements Per Day</label>
              <p> <%= campaign.engagements_per_day %></p>
	    </div>
	    <div class="form-group">
	      <label for="engagement-level">Engagments Per Prey</label>
              <p> <%= campaign.engagements_per_prey %></p>
	    </div>
	    <div class="form-group">
	      <label for="engagement-level" data-container="body" data-toggle="tooltip" data-placement="right" title="MR&trade; Score is the percentage of people you've engaged who are currently following you.">MR&trade; Score <span class="badge"><i class="fa fa-question" ></i></span></label>
              <p>73.2%</p>
	    </div>
	    <hr>
	    <% if campaign.active then %>
	    <%= button_to 'Deactivate', {:controller => "campaign", :action => "update", :campaign_id => campaign.id, :account_id=> session[:account_id], :active => "false", :method=>:patch}, {class: 'btn btn-danger'}%>
	    <%= button_to 'Edit',  {:controller => "campaign", :action => "update", :campaign_id => campaign.id, :account_id=> session[:account_id], :active => "false", :method=>:patch}, {class: 'btn btn-default'}%>
	    <% else %>

	     <%= button_to 'Activate', {:controller => "campaign", :action => "update", :campaign_id => campaign.id, :account_id=> session[:account_id], :active => "true", :method=>:patch}, {class: 'btn btn-primary'}  %>
	    <%= button_to 'Edit',  {:controller => "campaign", :action => "update", :campaign_id => campaign.id, :account_id=> session[:account_id], :active => "false", :method=>:patch}, {class: 'btn btn-default'}%>

	    <% end %>

	</div>
      </div>
    <% end %>
    <br>
  </div>
</div>
