<div class="row main-content">
  <div class="col-xs-12">
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
         <h2 class="panel-title"><strong><%= current_account.name %>'s Campaigns</strong></h2>
      </div>
      <div class="panel-body">
	<% if @campaigns.length == 0 then %>
	  <h4><strong>Create a new campaign</strong>.  A campaign is an automated social engagement strategy that will gradually <strong> gain you friends and followers</strong>.</h4>
	<% else %>
	<h4>At present, You can only have one active campaign at a time.  Either <strong>create a new campaign</strong>, or <strong>reactivate an old one</strong>.  Log out to manage campaigns for another account.</h4>
	<% end %>
	<br>
	<a href="/campaign/create_form" class="btn btn-twitter btn-lg"><i class="fa fa-bolt"></i> Create Twitter Campaign</a>
      </div>
    </div>
    <br>
    <% @campaigns.each do |campaign| %>
      <div class="panel <%= campaign.active ? "panel-primary" : "panel-default" %>">
	<div class="panel-heading">
	  <h3 class="panel-title">Target: <strong> <%= campaign.target %> </strong></h3>
	</div>
	<div class="panel-body">
	    <% if campaign.updated_at == campaign.created_at then %>
	      <div class="form-group">
		<label for="engagement-level">Campaign Start Date</label>
		<p> <%= campaign.created_at.to_s(:long) %></p>
	      </div>
	    <% else %>
	      <div class="form-group">
		<label for="engagement-level">Campaign Restart Date</label>
		<p> <%= campaign.updated_at.to_s(:long) %></p>
	      </div>
	  <% end %>
	    <div class="form-group">
	      <label for="engagement-type">Engagement Type</label>
              <p> <%= campaign.engagement_type %></p>
	    </div>
	    <div class="form-group">
	      <label for="engagement-level">Engagements Per Day</label>
              <p> <%= campaign.engagements_per_day %></p>
	    </div>
	    <div class="form-group">
	      <label for="engagement-level">Engagments Per Prey</label>
              <p> <%= campaign.engagements_per_prey %></p>
	    </div>
	    <div class="form-group">
	      <label for="engagement-level" data-container="body" data-toggle="tooltip" data-placement="right" title="MR&trade; Score is the percentage of people you've engaged who are currently following you.">MR&trade; Score <span class="badge"><i class="fa fa-question" ></i></span></label>
              <p><%= campaign.mr_score %>%</p>
	    </div>
	    <div class="form-group">
	      <label for="engagement-level" data-container="body" data-toggle="tooltip" data-placement="right" title="This is how many followers you've gotten">Followers Acquired<span class="badge"><i class="fa fa-question" ></i></span></label>
              <p><%= campaign.followers_acquired %></p>
	    </div>
	    <hr>
	    <% if campaign.active then %>
	    <%= button_to 'Deactivate', {:controller => "campaign", :action => "update", :campaign_id => campaign.id, :active => "false", :method=>:patch}, {class: 'btn btn-danger'}%>
	    <%= button_to 'Delete',  {:controller => "campaign", :action =>"delete", :campaign_id => campaign.id}, { method: "delete", class: 'btn btn-default'}%>
	    <% else %>

	     <%= button_to 'Activate', {:controller => "campaign", :action => "update", :campaign_id => campaign.id, :active => "true", :method=>:patch}, {class: 'btn btn-primary'}  %>
	     <%= button_to 'Delete',  {:controller => "campaign", :action =>"delete", :campaign_id => campaign.id}, {method: "delete", class: "btn btn-default"}%>
	    <% end %>
	    </div>
	    </div>
    <% end %>
    <br>
  </div>
</div>
