<div class="row">
  <div class="col-xs-12">
    <h2>Create Campaign</h2>
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">New Campaign</h3>
      </div>
      <div class="panel-body">
	<form action="/campaign/create" method="post">
            <% if flash[:error_messages] then %>
            <div class="alert alert-danger" role="alert">
              <p><strong><%= pluralize(flash[:error_messages].length, "Error") %></strong></p>
              <ul>
	    <% flash[:error_messages].each do |error| %>
               <li><%= error %>.</li>
	    <% end %>
              </ul>
            </div>
            <% end %>
	  <div class="form-group" >
	    <label for="target">Target</label>
	    <input type="text" class="form-control" id="target" name="target" value="<%= flash[:c] ? flash[:c]["target"] : '' %>" placeholder="sbarrochica">
	  </div>
	  <div class="form-group">
	    <label for="engagement-type">Engagement Type</label>
            <select class="form-control" id="engagement-type" name="engagement_type">
               <option>Favorite</option>
            </select>
	  </div>
	  <div class="form-group">
	    <label for="engagement-level">Maximum Engagements Per Day</label>
	    <p id="engagements_per_day_preview"></p>
	    <div id="engagements_per_day_slider"></div>
	    <input type="hidden" class="form-control" name="engagements_per_day"
	    value="<%= flash[:c] ? flash[:c]["engagements_per_day"] : 20 %>">
	  </div>
	  <div class="form-group">
	    <label for="engagement-level">Engagments Per Prey</label>
	    <p id="engagements_per_prey_preview"></p>
	    <div id="engagements_per_prey_slider"></div>
	    <input type="hidden" class="form-control" name="engagements_per_prey"
	    value="<%= flash[:c] ? flash[:c]["engagements_per_prey"] : 2 %>">
	  </div>
	  <div>
	  <input type="hidden" name="account_id" value= "<%= Account.find(current_account).id %>">
	  </div>
	  <p id="campaign-summary"></p>
	  <br>
	  <button type="submit" class="btn btn-primary">Start Campaign</button>
	  <a href="../account/campaigns"><button href="account/campaigns" class="btn btn-default">Cancel</button></a>
	</form>
      </div>
    </div>
  </div>
</div>
