<div class="row">
  <div class="col-xs-12">
    <br>
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Create Campaign for <%= current_account.name %></strong></h3>
      </div>
      <div class="panel-body">
	<form action="/campaign/create" method="post">
            <% if flash[:error_messages] then %>
            <div class="alert alert-danger" role="alert">
              <p><strong><%= pluralize(flash[:error_messages].length, "Error") %></strong></p>
              <ul>
	    <% flash[:error_messages].each do |error| %>
               <li><%= error %>.</li>
	    <% end %>
              </ul>
            </div>
            <% end %>
	  <div class="form-group" >
	    <label for="engagements_per_prey" data-container="body"
	    data-toggle="tooltip" data-placement="right" title="Choose a target
	    account with followers that you think would likely follow you.
	    MR_BOTS will choose your 'prey' from this account's followers, and
	    then automatically engage them.">
	    Target <span class="badge"><i class="fa fa-question" ></i></span></label>
	    <input type="text" class="form-control" id="target" name="target" value="<%= flash[:c] ? flash[:c]["target"] : '' %>" placeholder="sbarrochica">
	  </div>
	  <div class="form-group">
	    <label for="engagements_per_prey" data-container="body"
	    data-toggle="tooltip" data-placement="right" title="Right now, the
	    only way MR_BOTS can engage with prey is via faving their content.  
	    In the future, we plan to build systems that engage in more engaging
	    ways.">
	    Engagement Type <span class="badge"><i class="fa fa-question" ></i></span></label>
            <select class="form-control" id="engagement-type" name="engagement_type">
               <option>Favorite</option>
            </select>
	  </div>
	  <div class="form-group">
	    <label for="engagements_per_day" data-container="body"
	    data-toggle="tooltip" data-placement="right" title="Set this low if you don't want to seem
	    thirsty or spammy, or high if you want to be aggressive.">Max
	    Engagements Per Day <span class="badge"><i class="fa fa-question" ></i></span></label>
	    <p id="engagements_per_day_preview"></p>
	    <div id="engagements_per_day_slider"></div>
	    <input type="hidden" class="form-control" name="engagements_per_day"
	    value="<%= flash[:c] ? flash[:c]["engagements_per_day"] : 20 %>">
	  </div>
	  <div class="form-group">
	    <label for="engagements_per_prey" data-container="body"
	    data-toggle="tooltip" data-placement="right" title="Set
	    this low to reach a large number of potential followers quickly, or
	    high if you want to really convince people that you care about them.">
	    Engagements Per Prey <span class="badge"><i class="fa fa-question" ></i></span></label>
	    <p id="engagements_per_prey_preview"></p>
	    <div id="engagements_per_prey_slider"></div>
	    <input type="hidden" class="form-control" name="engagements_per_prey"
	    value="<%= flash[:c] ? flash[:c]["engagements_per_prey"] : 2 %>">
	  </div>
	  <div>
	  <input type="hidden" name="account_id" value= "<%= Account.find(current_account).id %>">
	  <input type="hidden" name="mr_score" value= "0">

	  </div>
	  <p id="campaign-summary"></p>
	  <br>
	  <button type="submit" class="btn btn-primary">Start Campaign</button>
	  <a href="../account/campaigns"><button href="account/campaigns" class="btn btn-default">Cancel</button></a>
	</form>
      </div>
    </div>
  </div>
</div>
