<div class="row">
  <div class="col-xs-12">
    <br>
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Create Bot for <span
	    id="current-name"><%= current_account.name %></span></strong></h3>
	<span id="current-nickname" class="hidden"><%= current_account.nickname %></span>
      </div>
      <div class="panel-body">
	<form action="/campaign/create" method="post">
            <% if flash[:error_messages] then %>
            <div class="alert alert-danger" role="alert">
              <p><strong><%= pluralize(flash[:error_messages].length, "Error") %></strong></p>
              <ul>
	    <% flash[:error_messages].each do |error| %>
               <li><%= error %>.</li>
	    <% end %>
              </ul>
            </div>
            <% end %>
	  <div class="form-group">
	    <label for="engagement_type">Bot Type</label>
	    <p>A <strong>clone bot</strong> will algorithmically generate new tweets based on
	    an existing twitter account.  A <strong>favorite bot</strong> will like tweets in a
	    targeted manner.</p>
            <select class="form-control" name="engagement_type">
	      <% bot_type = flash[:c] ? flash[:c]["engagement_type"] : '' %>
	      <option <%= if bot_type == "Clone" then "selected" end %>>Clone</option>
	      <option <%= if bot_type == "Favorite" then "selected" end %>>Favorite</option>
            </select>
	    <hr>
	  </div>
	  <div class="form-group" >
	    <label for="target" >Bot Target</label>
	    <p data-bot-type="Favorite">Choose an account with followers that would likely follow you.
	      MR_BOTS will choose your 'prey' from among this account's followers,
	      and then engage them automatically.</p>
	    <p data-bot-type="Clone">Choose the account that will act as the
	    source material for the algorithmically generated tweets.</p>
	    <input type="text" class="form-control" id="target" name="target" 
	      value="<%= flash[:c] ? flash[:c]["target"] : '' %>" placeholder="sbarrochica">
	    <hr>
	  </div>
	  <div data-bot-type="Favorite" class="form-group">
	    <label for="engagements_per_day">Engagments Per Day</label>
	    <input id="max-engagements-per-day" type="hidden" value="30">
	    <p>Set this low if you don't want to seem thirsty or spammy, or high
	      if you want to be aggressive.  The maximum value is based on
	      account age.</p>
	    <p id="engagements_per_day_preview"></p>
	    <div id="engagements_per_day_slider"></div>
	    <input type="hidden" class="form-control" name="engagements_per_day"
	    value="<%= flash[:c] ? flash[:c]["engagements_per_day"] : 15 %>"
     	    data-max="<%= @max_engagements_per_day %>">
	  <hr>
	  </div>
	  <div data-bot-type="Favorite"  class="form-group">
	    <label for="engagements_per_prey">Engagements Per Prey</label>
	    <p>Set this low to reach a large number of potential followers
	      quickly, or high if you want to really convince people that you care
	      about them.</p>
	    <p id="engagements_per_prey_preview"></p>
	    <div id="engagements_per_prey_slider"></div>
	    <input type="hidden" class="form-control" name="engagements_per_prey"
	    value="<%= flash[:c] ? flash[:c]["engagements_per_prey"] : 2 %>"
	    data-max="15">
	    <hr>
	  </div>
	  <div>
	  <input type="hidden" name="account_id" value= "<%= Account.find(current_account).id %>">
	  <input type="hidden" name="mr_score" value= "0">

	  </div>
	  <p id="campaign-summary"></p>
	  <br>
	  <button type="submit" class="btn btn-primary">Create and Start Bot</button>
	  <a href="../account/campaigns"><button href="account/campaigns" class="btn btn-default">Cancel</button></a>
	</form>
      </div>
    </div>
  </div>
</div>
