<!DOCTYPE html>
<html>
<head>
  <title>MR_BOTS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <br>
  <div class="row">
    <div class="col-xs-10">
      <h1 class="mr_bots-brand"><em><strong><i class="fa fa-line-chart"></i> MR_BOTS</strong></em></h1>
    </div>
    <div class="col-xs-2">
      <% if current_account %>  
	Current account: <%= current_account.name %>!  
	<%= link_to "Log Out", "/logout" %>  
      <% else %>  
	<p style="line-height: 39px; margin-top: 20px;"><em>Alpha <span class="hidden-xs">v.0.0.1</span></em></p>
      <% end %>         
     </div>
</div>
  <%= yield %>
  <div class="row">
    <div class="col-xs-12">
       <hr>
       <p>&copy; 2015, Select Star LLC</p>
       <br>
    </div>
</div>
</div>
</body>
</html>
