<!DOCTYPE html>
<html>
<head>
  <title>MR_BOTS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
 <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
  <br>
  <div class="row">
    <div class="col-xs-10">
      <a href="/" class="mr_bots-brand"><h1
      ><em><strong class="white-padded">MR_BOTS</strong></em></h1></a>
    </div>
    <div class="col-xs-2">
      <% if current_account %>  
        <br>
	<%= link_to "Log Out", "/logout", {"class" => "btn btn-danger"}%> 
      <% else %> 
        <br>
	<p style="line-height: 39px;"><em class="white-padded">Alpha</em></p>
      <% end %>         
     </div>
</div>
  <%= yield %>
  <div class="row">
    <div class="col-xs-12">
       <hr>
       <p><span class="white-padded">&copy; 2015, Select Star LLC</span></p>
       <br>
    </div>
</div>
</div>
</body>
</html>
